
<form name="calc">
  <input name="display" id="display" value="">

    <input type="button" class="oper clean" value="C" data-behavior="clean">
    <br>
    <input type="button" class="digit" value="7" data-behavior="run">
    <input type="button" class="digit" value="8" data-behavior="run">
    <input type="button" class="digit" value="9" data-behavior="run">
    <input type="button" id="divide" 	class="oper" 	value="/" data-behavior="run">

    <input type="button" class="digit" value="4" data-behavior="run">
    <input type="button" class="digit" value="5" data-behavior="run">
    <input type="button" class="digit" value="6" data-behavior="run">
    <input type="button" id="multiply" 	class="oper" 	value="*" data-behavior="run">

    <input type="button" class="digit" value="1" data-behavior="run">
    <input type="button" class="digit" value="2" data-behavior="run">
    <input type="button" class="digit" value="3" data-behavior="run">
    <input type="button" id="minus" 	class="oper" 	value="-" data-behavior="run">

    <input type="button" class="digit" value="0" data-behavior="run">
    <input type="button" class="digit" value="." data-behavior="run">

	  <input type="button" class="oper equals"	value="=" data-behavior="equals">
    <input type="button" id="plus" 	class="oper" 	value="+"  data-behavior="run">

  </div> <!--  END opercase -->




</div><!-- END of case  -->
